<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
<div class="map-page">
    <div id="map_canvas"></div>

    <div id="openUserTrack"><i class="fas fa-route"></i></div>
    <div id="userTrack">
        <div class="header-panel">
            <div class="nav-icon"><i class="fas fa-route"></i></div>
            <div id="panelTitle" class="title"></div>
            <div id="closeUserTrack" class="close-panel"><i class="fas fa-times"></i></div>
        </div>
        <div class="panel-content">
            <div class="track-info">
                <div class="track-details">
                    <div class="det"><div class="det-name">Beginning:</div><div id="startTime" class="det-value"></div></div>
                    <div class="det"><div class="det-name">End:</div><div id="finishTime" class="det-value"></div></div>
                    <div class="det"><div class="det-name">Distance:</div><div id="distance" class="det-value"></div></div>
                </div>
            </div>
        </div>
    </div>
    <div id="breadcrumbs"><div class="breadcrumbs-wrap"></div></div>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl5BLxUS-xQnv2UCuBIPtc5B83_Uozhbk&callback"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/utils.js}"></script>
</body>
</html>